<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <a href="#" class="navbar-brand">Recipe Book</a>
        <!-- <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
            <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
        </button> -->
        <button class="navbar-toggler" (click)="collapsed = !collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse" id="navbarSupportedContent" [class.collapse]="collapsed" (window:resize)="collapsed = true">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/recipes">Recipes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/shopping-list">Shopping List</a>
              </li>

            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-right">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" style="cursor: pointer;" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown" appDropdown>
                    <li><a class="dropdown-item" style="cursor: pointer;">Action</a></li>
                    <li><a class="dropdown-item" style="cursor: pointer;">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" style="cursor: pointer;">Something else here</a></li>
                  </ul>
                </li>
  
              </ul>
          </div>
        <!-- <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
            <ul class="nav navbar-nav">
                <li><a href="#">Recipes</a></li>
                <li><a href="#">Shopping List</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" role="button">Manange <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Save Data</a></li>
                        <li><a href="#">Fech Data</a></li>
                    </ul>
                </li>
            </ul>
        </div> -->
    </div>
</nav>